body{
    background-color: rgb(82, 85, 94);
}

div.menu{
    background-color: #298cf5;
    height: 20vmin;
    padding: 5vmin;
    padding-top: 3vmin;
    border-radius: 0 0 40vmin 5vmin;
}

.menu h1{
    font-size: 3em;
}

.container{
    margin-top: 7vmin;
}

.btn{
    background-color: #298cf5;
}

#formats h2{
    font-size: 1.5em;
    display: none;
}

label.label-button{
    display: inline;
}

.format-button{
    color: #eee;
    background-color: #298cf5;
    margin-right: -20px;
    padding: 1.5vmin;    
    cursor: pointer;
    border-radius: 4px;
}

footer.final{
    position: absolute;
    bottom:0;
    width: 100%;
    height: 5%;
    padding-top: 1vmin;
    background-color: #298cf5;
    color:#eee;
    text-align: center;
}

.final a{
    color: #ddd;
}
.final #copyleft{
    display:inline-block;
    transform: rotate(180deg);
}